.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #44A97F #f0f0f0;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #38b2ac;
  border-radius: 10px;
  border: 3px solid #f0f0f0;
}