
.button{
  background-color: #247654 !important;
  color: white !important;
}
.button:hover {
  background-color: #08a26284 !important;
  border-color: #d5dcd9 !important;
  color: white !important;
}

.gradient-background {
  background: linear-gradient(to right, #019361 32%, #001C12 100%);
}

.sider-custom {
  background: linear-gradient(to bottom, #05673E, #4aae85, #12563A) !important;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1) !important;
}

.header-custom {
  background: linear-gradient(to right, #05673E, #4aae85) !important;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1) !important;
}

.side-menu-custom{
  background-color: transparent !important;
  color: white !important;
}

.ant-menu-item{
  color: white !important;
}

.ant-menu-item-selected{
  color: #019361 !important;
}